body {
    font-family: 'Merriweather';
    margin: 0;
  }
  
  h1, h2, p {
    margin: 0;
  }

  table{
      text-align: center;
      border: 1px solid green;
      border-collapse: collapse;
      width: 50%;
      margin: 10px 10px 10px 10px;
  }

  th {
    border: 1px solid green;
    height: 50px;
  }

  td {
    text-align: left;
    border: 1px solid green;
    padding: 10px 0 10px 20px;
  }
  
  #top {
    background: #3498db;
    color: white;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 30px;
  }
  
  #top h1 {
    margin-bottom: 10px;
  }
  
    #sidebar {
        margin-left: 100px;
        margin-top: 30px;
    }

  /* #bottom {
    text-align: center;
    font-weight: 700px;
    background: #bdc3c7;
    line-height: 30px;
    margin-top: 30px;
  } */
  
  .wrapper {
    position: relative;
  }
  
  .keyword {
    font-style: italic;
  }
  

  #customers {
      margin-left: 320px;
  }

  #main {
    padding: 0 20px 0 20px; 
    line-height: 25px;
    margin: 10px 10px 10px 10px;
  }
  
  #main h1, #main h2 {
    margin: 10px 0 15px;
  }

  #bottom {
      margin-top: 50px;
      text-align: center;
  }
  
  

